version: "3.8"
services:
  springboot-app:
    image: stock-ventas:latest
    build: .
    container_name: app
    depends_on:
      mysqldb:
        condition: service_healthy
    environment:
      - DATASOURCE_URL=jdbc:mysql://mysqldb:3306/db_stock  
      - DATASOURCE_USERNAME=root
      - DATASOURCE_PASSWORD=root
    ports:
      - 8090:8090
  mysqldb:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: db_stock
      MYSQL_ROOT_PASSWORD: root 
    ports:
      - 3307:3306
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
