<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<br>
	
	<div class="container">
	   <div class="row">
	      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
	           <h1 class="text-center" th:text="${titulo}"></h1>
	           <div class="card-body">
	              <form th:action="@{/form}" th:object="${stock}" method="post">
	                 <input type="hidden" th:field="*{id}" th:value="${stock.id}"/>
	                 <div class="form-group">
	                    <label>Modelo : </label>
						<select class="form-control" th:field="*{modelo.id}">
							<option th:each="modelo : ${listModelo}" th:text="${modelo.nombre}" th:value="${modelo.id}">
						</select>
	                 </div>	             
	                 <div class="form-group">
	                    <label>Cond : </label>
	                    <input type="text" th:field="*{cond}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('cond')}" th:errors="*{cond}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>IMEI : </label>
	                    <input type="number" th:field="*{imei}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('imei')}" th:errors="*{imei}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>Proveedor : </label>
	                    <select class="form-control" th:field="*{proveedor}">
	                        <option th:value='BRUNO'>BRUNO</option>
	                        <option th:value='AZUL'>AZUL</option>
	                        <option th:value='JAVI'>JAVI</option>
	                        <option th:value='GISE'>GISE</option>	             
	                    </select>
	                 </div>
	                 <div class="form-group">
	                    <label>Costo : </label>
	                    <input type="number" th:field="*{costo}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('costo')}" th:errors="*{costo}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>Tipo : </label>
	                    <select class="form-control" th:field="*{tipoCosto}">
	                        <option th:value='USD'>USD</option>
	                        <option th:value='PESOS'>PESOS</option>           
	                    </select>
	                 </div>		  
	                 <div class="form-group">
	                    <label>Fecha : </label>
	                    <input type="date" th:field="*{fecha}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>Lugar : </label>
	                    <select class="form-control" th:field="*{lugar}">
	                        <option th:value='Izone'>Izone</option>
	                        <option th:value='otro'>otro</option>
	                    </select>
	                 </div> 
	                 <div class="form-group">
	                    <label>Observacion : </label>
	                    <textarea  type="text" th:field="*{observacion}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('observacion')}" th:errors="*{observacion}"></small> 
	                 </div>
	                 
	                 <div class="box-footer"> 
	                     <input type="submit" value="Guardar" class="btn btn-primary">
	                 </div>
	              </form>
	           </div>
	      </div>
	   </div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>