<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="py-4 container-fluid">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/comboForm}" class="btn btn-primary">Agregar Combo</a>
				</h4>

				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Precio</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="combo : ${combos}">
							<td th:text="${combo.id}"></td>
							<td th:text="${combo.nombre}"></td>
							<td th:text="${#numbers.formatCurrency(combo.precio)}"></td>
							<td><a
								class="btn btn-warning btn-sm"
								th:href="@{/comboForm/} + ${combo.id}">Editar</a></td>
							<td><a
								class="btn btn-danger btn-sm"
								th:href="@{/eliminarCombo/} + ${combo.id}"
								onclick="return confirm('¿Estás seguro de eliminar el Combo: ?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
