<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/user-form.css}">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<br>
	
	<div class="container">
	   <div class="row">
	      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
	           <h1 class="text-center" th:text="${titulo}"></h1>
	           <div class="card-body">
	              <form th:action="@{/usuarioForm}" th:object="${usuario}" method="post">
	                 <input type="hidden" th:field="*{id}" th:value="${usuario.id}"/>
	                 <div class="form-group">
	                    <label>Nombre : </label>
						<input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small> 
	                 </div>	             
	                  <div class="form-group">
	                    <label>Apellido : </label>
						<input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small> 
	                 </div>
	                  <div class="form-group">
	                    <label>Usuario : </label>
						<input type="text" th:field="*{usuario}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></small> 
	                 </div>
	                  <div class="form-group">
	                    <label>Email : </label>
						<input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small> 
	                 </div>
	                 <div class="form-group" th:if="${editar}">
						  <label>Password : </label>
						<input type="password" th:field="*{password}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small> 
					</div>
					<div class="form-group">
	                    <label>Rol : </label>
	                    <select class="form-control" th:field="*{rol}">
	                        <option th:value='USER'>USER</option>
	                        <option th:value='ADMIN'>ADMIN</option>
	                        <option th:value='EDITOR'>EDITOR</option>             
	                    </select>
	                 </div>
	                 
	                 <div class="box-footer"> 
	                     <input type="submit" value="Guardar" class="btn btn-primary">
	                     <a th:href="@{/listarUsuarios}" class="btn btn-primary">Cancelar</a>
	                 </div>
	              </form>
	           </div>
	      </div>
	   </div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>